{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Tokyo in WiFi</title>
        <meta name="description" content="・・・・・・・・・第15回定期公演 Tokyo in WiFi 都市が「・ちゃんがWiFiのように飛んでいる空間」になる定期公演">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@dotstokyo">
        <meta name="twitter:title" content="・・・・・・・・・第15回定期公演 Tokyo in WiFi">
        <meta name="twitter:description" content="都市が「・ちゃんがWiFiのように飛んでいる空間」になる定期公演">
        <meta name="twitter:image" content="http://dots.tokyo/images/dots.png">
        <link rel="shortcut icon" type="image/png" href="{% static "tokyo_in_map/ico/favicon.ico" %}"/>
    　　 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-74701649-5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-74701649-5');
        </script>
    </head>
    <body>
        <section class="section">
          <div class="container">
            <div class="content">
                <h3>・・・・・・・・・第15回定期公演 Tokyo in WiFi</h3>

                <p>都市が「・ちゃんがWiFiのように飛んでいる空間」になる定期公演</p>

                <p>定期公演特設Webサイト📱を使って世界各地に設置された「WiFiスポット」から「WiFi」に接続しよう📡<br>
                接続すると・ちゃんの音声👂や動画👀が見られるよ‼️</p>

                <h4>📍WiFiスポットとは？</h4>
                <p>音声や動画の形をとった・ちゃんに出会える場所。世界各地に点在している</p>

                <h4>📡WiFiとは？</h4>
                <p>音声や動画の形を取った・ちゃん</p>

                <h4>📱定期公演特設Webサイト</h4>
                <p>①近くにある「WiFiスポット」が確認できて②「WiFi」に接続できるWebサイト‼️<br>
                特設Webサイトでは「WiFiスポットまでの距離」を測るために位置情報を取得します(サイトを開いている間のみ)</p>

                <p><a class="button is-large is-fullwidth is-success" href="./spots" onclick="gtag('event', 'go_to_spotspage', {
                    'event_category': 'conversion'
                    })">特設Webサイトに進む</a></p>

                <h4>👣WiFi接続方法</h4>
                <ol>
                    <li>スマホの設定から位置情報の利用をオンにする</li>
                    <li>特設Webサイトを開く</li>
                    <li>位置情報利用の許可を求められるので、許可する</li>
                    <li>「WiFiスポット」に近づく。接続できる距離まで近づくと「WiFiスポット」の表示が変わり、リンクが貼られます</li>
                    <li>リンクをタップし「WiFi」に接続する</li>
                 </ol>
                <h4>📼デモ動画</h4>
                <video src="http://d3jo9wp4rp1004.cloudfront.net/technology/tokyo_in_wifi/connect_wifi.mov" poster="http://d3jo9wp4rp1004.cloudfront.net/technology/tokyo_in_wifi/connect_wifi_poster.png" width="400" height="711" controls muted playsinline></video>
                <h4>❗</h4>
                <p>本サイトにおける「WiFi」とは、アイドルグループ・・・・・・・・・メンバーの音声&動画コンテンツのことを指します。公衆無線LANではありません</p>
            </div>
          </div>
        </section>
    </body>
</html>